html, body {
  overflow-x: hidden;
  height: 100dvh;
}

body {
  /* MAIN FONT */
  font-family: "Albert Sans", sans-serif;
  color: var(--text-950);
  background-color: var(--color-background);
  transition: 0.25s ease;
  transition-property: background-color;
  line-height: 1.5;

  &.no-scroll {
    overflow: hidden;
  }
}

/* FONTS SIZES 1.618 */
h1 {
  font-size: 8em;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 5em;
  line-height: 1.1;
  font-weight: 600;
}

h3 {
  font-size: 3em;
  line-height: 1.2;
  font-weight: 500;
}

h4 {
  font-size: 1.85em;
  line-height: 1.3;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, figcaption {
  font-size: var(--text-base);
  max-width: 75ch;
  text-wrap: pretty;
  font-weight: 400;
}

a {
  color: var(--color-accent);

  &:active {
    color: var(--color-accent); /* TODO */
  }
}

img {
  max-width: 100%;
  display: block;
}

code {
  font-family: "Fira Code", monospace;
}

/* ICONS */
.icon {
  aspect-ratio: 1 / 1;
  display: block;
  width: 1.5em;
  height: 1.5em;
}

a:has(> .icon) {
  display: flex;
  align-items: center;
  gap: .25em;
}

/* GENERIC DECLARATIONS */
@media (prefers-color-scheme: dark) {
  img.dark-filter {
    filter: brightness(.8) contrast(1.2);
  }
}

@media (prefers-reduced-motion: no-preference) {
  *:has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@media (prefers-reduced-motion), (update: slow) {
  *, *::before, *::after {
    transition-duration: 0s !important;
  }
}