---
import Base from "../Base.astro";
---
<Base title="Accueil">
	<h1>CV de Léo PLANUS</h1>

	<section class="career">
		<div class="nav-map">
			<article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
					</div>
				</article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>BUT MMI</h2>
					</div>
				</article>

			</article>
			<article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

			</article>
			<article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

				<article>
					<time datetime="2025">2025</time>
					<div class="content">
						<h2>Bonjour test 1,2</h2>
						<p>Informatique, design, architecture et développement.</p>
					</div>
				</article>

			</article>
		</div>
	</section>
</Base>

<style>

@keyframes gradientScroll {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0%;
  }
}

	.career {
		display: flex;
		justify-content: center;
	}

	.nav-map {
		--timeline-width: 2rem;
		--point-size: 1.5rem;
		--column-gap: 1rem;

		width: fit-content;
		max-width: 36rem;
		display: grid;
		row-gap: 2rem;
		column-gap: var(--column-gap);
		position: relative;
		grid-template-columns: [time row-start] auto [timeline] var(--timeline-width) [description-start] auto [desription-end row-end];

		&::before {
			--grid-size: 0.5rem;

			content: "";
			position: absolute;
			grid-column: timeline;
			inset: 0;
			margin: calc(var(--timeline-width) / 2) 0;
			background: linear-gradient(to bottom, var(--gray-300) 0.125rem, transparent 0.125rem);
			background-size: var(--grid-size) var(--grid-size);
		}

		& > article::before {
			content: "";
			position: absolute;
			grid-column: timeline;
			inset: 0;
			background-color: var(--color-brand);
			border-radius: 999rem;

			background-image: url("../assets/images/substract.svg");
			background-size: 100% 500%;
			animation: gradientScroll 12s ease-in-out infinite;
		}

		& > article > article::before {
			content: "";
			/* position: absolute; */
			grid-row: 1;
			line-height: 2em;
			align-self: start;

			background-color: var(--gray-100);
			grid-column: timeline;
			inset: 0;
			border-radius: 999rem;
			margin: calc((var(--timeline-width) - var(--point-size)) / 2);
			aspect-ratio: 1 / 1;
		}

		article {
			grid-column: row;
			position: relative;
			display: grid;
			grid-template-columns: subgrid;
			align-items: baseline;
			row-gap: 1rem;

			time {
				grid-column: time;
				display: grid;
				padding: 0.25rem;
				justify-items: center;
				border-radius: 0.25rem;
				background-color: var(--debian-200);
				color: var(--color-brand);
				position: relative;
				margin: calc((100% - var(--timeline-width)) / 4) 0;

				&::after {
					content: "";
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(100%, -50%);
					width: var(--column-gap);
					height: 0.125rem;
					background-color: var(--color-brand);
				}
			}

			.content {
				grid-column: description;
				display: grid;
				gap: 1rem;

				h2 {
					font-family: var(--font-fira-code);
					font-weight: 600;
					font-size: var(--scale-05);
				}
			}
		}
	}
</style>