@font-face {
	font-family: "Albert Sans";
	src: url("albert_sans_variable.woff2") format("woff2");
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Albert Sans";
	src: url("albert_sans_italic_variable.woff2") format("woff2");
	font-weight: 300 900;
	font-style: italic;
	font-display: swap;
}
